*{
    background-color: wheat;
    font-family: Helvetica,"Times New Roman", Arial, sans-serif;
    color: black;
}

img{
    width: 400px;
    height: auto;
}
.header{
    font-weight: bold;
    color: brown;
}

.header.third{
font-weight: 400px;
font-style: italic;
}
#home{
    color: brown;
    font-size: 18px;
    font-weight: 400px;
}